<h1>Edit Citizen</h1>

<div>
    <mat-label>Name: </mat-label>
    <h4>{{selectedName}}</h4>

</div>
<tr></tr>
<div>
    <mat-label>LastName: </mat-label>
    <h4>{{selectedLastName}}</h4>  
</div>
<tr></tr>
<div>
    <mat-label>DNI: </mat-label>
    <h4>{{selectedDNI}}</h4>  
</div>
<tr></tr>
<div>
    <mat-label>Phone Number: </mat-label>
    <input name="phoneNumber" type="text" [(ngModel)]="selectedPhoneNumber">   
</div>
<tr></tr>
<div class="form-group">
<label for="singleSelect"> Select your Native City: </label><br>
<select name="city" width="8" class="form-control" id="allocation-algorithm" 
[(ngModel)]="selectedCity">
      <option *ngFor="let option of city" [value]="option.id">{{option.description}}</option>    
</select>
</div>





<mat-card-actions>
    

    <button mat-raised-button color="warn" mattooltip="df" type="button" (click)="cancel()">
        <i class='fa fa-times fa-fw'></i> Cancel
    </button>
    <button mat-raised-button color="accent" class="marginButton" mattooltip="df" type="button" (click)="update()"
        >
        <i class='fa fa-save fa-fw'></i> Save
    </button>
</mat-card-actions>

